@font-face {
  font-family: 'Audiowide';
  src: url('./Audiowide-Regular.ttf');
}

body {
  margin: 0;
  font-family: 'Audiowide', sans-serif;
  background-color: #0c0032;
  color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-color 0.5s ease;
}

body.sunny {
  background-color: #fdb813;
}
body.cloudy {
  background-color: #b4c8d8;
}
body.rainy {
  background-color: #36454f;
}
body.snowy {
  background-color: #fffafa;
}

.container {
  text-align: center;
}

.weather-card {
  background-color: #480032;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  position: relative;
  overflow: visible;
}

.city-input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.get-weather-btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #480032;
  color: #e6e6e6;
  border: none;
  cursor: pointer;
}

.get-weather-btn:hover {
  background-color: #5a0040;
}

.city {
  font-size: 40px;
  margin-bottom: 10px;
}

.temperature {
  font-size: 48px;
  margin-bottom: 20px;
}

.condition {
  font-size: 40px;
}

.error-message {
  color: red;
  font-size: 18px;
  margin-top: 20px;
}

.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.menu-btn {
  background-color: transparent;
  color: #e6e6e6;
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
}

.left-btn {
  left: 20px;
}

.right-btn {
  right: 20px;
}

.side-menu {
  position: absolute;
  top: 60px;
  height: calc(100% - 100px);
  width: 200px;
  background-color: #5a0040;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease-in-out;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
}

.left-menu {
  left: 0;
  transform: translateX(0);
}

.right-menu {
  right: 0;
  transform: translateX(0);
}

.left-menu.open {
  animation: slideInLeft 0.5s forwards;
  visibility: visible;
}

.right-menu.open {
  animation: slideInRight 0.5s forwards;
  visibility: visible;
}

.left-menu.closing {
  animation: slideOutLeft 0.5s forwards;
}

.right-menu.closing {
  animation: slideOutRight 0.5s forwards;
}

.side-menu h2 {
  color: #e6e6e6;
  margin-bottom: 20px;
}

@keyframes slideInLeft {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(-100%);
    opacity: 1;
  }
}

@keyframes slideOutLeft {
  from {
    transform: translateX(-100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(0);
    opacity: 0;
  }
  to {
    transform: translateX(100%);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(100%);
    opacity: 1;
  }
  to {
    transform: translateX(0);
    opacity: 0;
  }
}
